html {
	font-size: 20px;
	font-family: monospace;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

#left {
	position: absolute;
	left: 60px;
	top: 60px;
	width: 220px;
	height: 470px;

	font-size: 15px;

	padding: 5px 10px 5px 10px;

	color: #996633;
	background-color: #D6D298;
   	border-radius: 6px;
   	z-index: 1;
}

#screen {
	position: relative;
	width: 100%;
}

#endBox {
	position: absolute;
	margin-left: -130px;
	top: 160px;
	left: 50%;
	width: 250px;
	height: 200px;

	font-size: 26px;
	font-weight: bold;

	padding: 2px 2px 2px 2px;

	border: solid white 2px;
   	border-radius: 6px;

   	color: white;
   	text-shadow: 0.5px 0.5px black;
	background-color: #D6D298;
}

.button {
	border: 1.5px solid #ffffff;
	background-color: #669966;
	padding: 7px 10px;
	border-radius: 12px;
	color: white;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
	z-index: 150;
}

.default {
	background-color: #2dd22d;
}

#reset {
	border: 2px solid #ffffff;
	background: #76B34B;
	padding: 10.5px 21px;
	border-radius: 14px;
	color: white;
	font-size: 16px;
	text-decoration: none;
	vertical-align: middle;
}

#score {
	margin: 20px;
}

#highScore {
	margin: 12px;
}

.subhead {
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
}

.settings {
	font-weight: bold;
	font-size: 20px;
}

#footer {
	color: #996633;
}